<section class="hero-container">
  
 <video #heroVideo autoplay loop muted playsinline preload="auto" class="hero-video">
    <source src="assets/videos/loop.mp4" type="video/mp4">
    Tu navegador no soporta videos.
  </video>
  <div class="hero-overlay"></div>

  <div class="container h-100 d-flex flex-column justify-content-center align-items-center text-center text-white hero-content">
    
    <h1 class="display-1 fw-bold mb-4">Elegí lo que te gusta.</h1>
    
    <p class="lead mb-5 opacity-75">Atención personalizada y productos de calidad para vos.</p>
    
    <button class="btn btn-lg px-5 py-3 hero-btn" routerLink="/catalogo">
      VER CATÁLOGO
    </button>
  </div>
</section>