<section class="bg-light container py-5">
  <div class="row justify-content-center py-5">
    <div class="col-md-5">
      <div class="card p-4 border-0 shadow">
        <h3 class="fw-bold mb-4 text-center">Finalizar Pedido</h3>
        <input type="text" class="form-control mb-3" placeholder="Nombre completo">
        <input type="text" class="form-control mb-4" placeholder="Dirección de entrega">
        <button class="btn btn-success btn-lg w-100 fw-bold rounded-pill">
          <i class="bi bi-whatsapp me-2"></i>PEDIR POR WHATSAPP
        </button>
      </div>
    </div>
  </div>
</section>